@import '../variables'

// Dimensions
$timeline-content-width: 275px
$timeline-circle-width: 60px
$timeline-triangle-width: 15px
$timeline-spacing: 75px

// Box Shadows
$timeline-shadow-right: drop-shadow(6px 6px 8px rgba(0,0,0,.4))
$timeline-shadow-left: drop-shadow(-4px 6px 8px rgba(0,0,0,.4))
$circle-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15)

// Slide-in Animations
.animate-in-right
   animation: slide-in-right 1s ease-in-out

.animate-in-left
   animation: slide-in-left 1s ease-in-out

@keyframes slide-in-right 
   from 
      opacity: 0.1
      left: 50px  
   to 
      opacity: 1
      left: 0

@keyframes slide-in-left 
   from 
      opacity: 0.1
      right: 50px
   to 
      opacity: 1
      right: 0

// Timeline ul
.timeline 
   padding: 0
   margin: 30px 0 0 0
   display: flex
   flex-direction: column
   align-items: center
   position: relative

// Vertical Timeline Bar
.vertical-bar
   width: 10px
   height: 100%
   position: absolute
   background: rgba(255,255,255,.7)

// List Element
.timeline-item
   width: 100%
   position: relative
   margin-bottom: $timeline-spacing
   list-style-type: none

// Timeline Circle
.timeline-indicator
   z-index: 2
   position: absolute
   width: $timeline-circle-width
   height: $timeline-circle-width
   left: 50%
   margin-left: -$timeline-circle-width / 2
   background: white
   border-radius: 50%
   box-shadow: $circle-shadow

// Timeline Date
.timeline-date
   font-size: 1.6em
   position: absolute
   width: 50%
   padding-top: 10px

.timeline-date-sm
   display: none

// Content Container
.timeline-content
   position: relative
   background: $primary-color
   color: $primary-text-color
   padding: 15px
   border-radius: 3px

// Triangle
.timeline-triangle
   width: 0
   height: 0
   border-top: 15px solid transparent
   border-bottom: 15px solid transparent
   position: absolute
   top: 15px

// Header
.timeline-header
   border-left: 2px solid #FFF
   padding-left: 10px
   font-size: 1.6em
   margin-bottom: 10px

// Timeline 'more' button
.timeline-btn
   background: $secondary-color
   color: $secondary-text-color
   border: none
   border-radius: 5px
   text-transform: uppercase
   padding: 12px 22px
   margin-top: 15px
   font-size: 1em

   &:hover 
      cursor: pointer
      background: $secondary-hover

   &:active
      background: $secondary-active

   &:focus
      outline: none

// Timeline Left
.timeline-content-left
   margin-right: 58%
   filter: $timeline-shadow-left

.timeline-date-left 
   left: 50%
   text-align: left
   padding-left: $timeline-circle-width

.timeline-triangle-left 
   border-left: $timeline-triangle-width solid $primary-color
   right: -$timeline-triangle-width

// Timeline Right
.timeline-content-right 
   margin-left: 58%
   filter: $timeline-shadow-right

.timeline-date-right 
   text-align: right
   padding-right: $timeline-circle-width

.timeline-triangle-right 
   border-right: $timeline-triangle-width solid $primary-color
   left: -$timeline-triangle-width

//-----------------------------------------------------
// Mobile Styles
//-----------------------------------------------------

// Small Screens
@media screen and (max-width: $screen-sm)
   .animate-in-left,
   .animate-in-right
      animation: none

   .vertical-bar
      left: 32px

   .timeline-indicator
      left: 5%
      
   .timeline
      margin-top: 0
      align-items: left

   .timeline-content-left,
   .timeline-content-right
      margin-left: 90px
      margin-right: 15px

   .timeline-date
      display: none

   .timeline-date-sm
      display: block
      margin-bottom: 10px

   .timeline-content
      filter: $timeline-shadow-right
  
   .timeline-triangle-left 
      border-left: none
      border-right: 15px solid $primary-color
      left: -$timeline-triangle-width

   .timeline-btn
      position: absolute
      right: 15px
      bottom: 10px
  
// Extra Small Screens
@media screen and (max-width: $screen-xsm)
   .timeline-indicator,
   .timeline-triangle,
   .vertical-bar
      display: none
  
   .timeline-item 
      margin: 0
      padding: 0 8px
  
   .timeline-content 
      position: static
      width: 100%
      margin: 20px 0
      padding: 12px

   .timeline-date-sm
      margin-bottom: 15px

   .timeline-btn
      right: 20px
      bottom: 30px